:root {
	--color: #EBCD84;
	--color-dark: #B09A63;
	--bg-color: white;

	--button-size: 10vh;
	--button-depth: calc(var(--button-size) * .12);

	--font-size: calc(var(--button-size) * .3);
	--input-height: calc(var(--button-size) * .7);
	--gap: calc(var(--button-size) * .08);
	--radius: calc(var(--button-size) * .07);
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--bg-color);
	font-family: 'Roboto';
	font-size: var(--font-size);
}

.calculator {
	display: grid;
	grid-row-gap: calc(var(--gap) + var(--button-depth));
	grid-column-gap: var(--gap);
	grid-template-rows: var(--input-height) repeat(4, var(--button-size));
	grid-template-columns: repeat(5, var(--button-size));
}

.subgrid {
	display: inline-grid;
	grid-row-gap: inherit;
	grid-column-gap: inherit;
	grid-template-rows: repeat(4, var(--button-size));
}

.buttons {
	grid-row-start: 2;
}

.numbers {
	grid-template-columns: repeat(3, var(--button-size));
	grid-area: 1 / 1 / 4 / 4;
}

.opers {
	grid-template-columns: repeat(2, var(--button-size));
	grid-row-start: 1;
	grid-column-start: 4;
}

.numbers * {
	--color: #EBCD84;
	--color-dark: #B09A63;
}

.opers * {
	--color: #6128E7;
	--color-dark: #491EAD;
	color: white;
}

.button {
	cursor: pointer;
	user-select: none;
}

.buttons .button {
	background: var(--color);
	border-radius: var(--radius);
	box-shadow: 0 var(--button-depth) 0 0 var(--color-dark);

	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons .button:active {
	transform: translateY(var(--button-depth));
	box-shadow: 0 0 0 0 black;
}


.input {
	border: 3px solid #383838;
	background: white;
	box-shadow: 0 var(--button-depth) 0 0 #383838;
	border-radius: var(--radius);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: 1 / 1 / 2 / 6;
}

.input input {
	border: none;
	font-size: inherit;
	min-width: 0px;
}

.input .button:active {
	transform: translateY(3px);
	cursor: pointer;
}

input:focus { outline: none; }
